{{ define "footer" }}
<footer class="bg-white border-t mt-12">
  <div class="max-w-7xl mx-auto px-4 py-12">
    <p class="text-center text-gray-600">
      © 2025 Qazaq Society In Belgium. All rights reserved.
    </p>
  </div>
</footer>
{{ end }}
