{{ define "navbar" }}
  <header class="sticky top-0 left-0 z-[1000] flex h-[90px] items-center bg-white shadow-header transition-all">
    <div class="w-full max-w-screen-xl mx-auto px-0">
      <div class="flex h-full w-full items-center justify-between">

      <!-- Logo -->
      <!-- <a href="/" class="flex items-center max-w-[800px] mr-2">
        <img src="/assets/images/Qazaq-Society-Logo-Yellow-Blue.svg"
            class="block h-[200px] w-auto object-contain transition-all"
            alt="Qazaq Society Logo">
      </a> -->

      <a href="/" class="flex items-center mr-2">
        <img src="/assets/images/Qazaq-Society-Sign-Yellow.svg" class="block h-[50px] w-auto object-contain transition-all" alt="Qazaq Society Logo">
      </a>

      <!-- Navigation + Auth -->
      <div class="hidden md:flex items-center space-x-10">

        <!-- Main nav -->
        <nav class="hidden lg:flex items-center">
        <ul class="flex flex-wrap h-full items-center">
            <li class="mx-[14px] flex h-full items-center">
              <a
                href="/#about"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >About Us</a>
            </li>
            <li class="mx-[14px] flex h-full items-center">
              <a
                href="/#services"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >What Do We Provide</a>
            </li>
            <li class="mx-[14px] flex h-full items-center">
              <a
                href="/events"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >Events</a>
            </li>
            <li class="mx-[14px] flex h-full items-center">
              <a
                href="/#join"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >Community</a>
            </li>
            <li class="mx-[14px] flex h-full items-center">
              <a
                href="/about"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >Our Team</a>
            </li>
            {{if .CurrentUser}}
            <li class="mx-[10px] flex h-full items-center">
              <a
                href="/users/elections"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >Elections</a>
            </li>
            {{end}}
            <li class="mx-[14px] flex h-full items-center">
              <a
                href="/#contact"
                class="flex h-full items-center whitespace-nowrap rounded-[4px] px-4 py-3 text-[0.85rem] font-semibold uppercase tracking-[1px] text-textColor transition-all hover:bg-primary/10 hover:text-primary"
              >Contact</a>
            </li>
          </ul>
        </nav>

        <!-- Auth buttons -->
        <div class="flex items-center space-x-4">

          <!-- Sign Out -->
           {{if .CurrentUser}}
          <form action="/signout" method="POST">
            <button class="inline-flex items-center justify-center 
             px-4 py-2.5 rounded-md text-sm font-semibold 
             border border-red-600 text-red-600
             hover:bg-red-600 hover:text-white transition 
             whitespace-nowrap">
              Sign Out
            </button>
            {{else}}
            <!-- Sign In -->
            <a href="/signin" class="inline-flex items-center justify-center 
                    px-4 py-2.5 rounded-md text-sm font-semibold 
                    border border-blue-600 text-blue-600 
                    hover:bg-blue-600 hover:text-white transition 
                    whitespace-nowrap">
              Sign In
            </a>

            <!-- Sign Up -->
            <a href="/signup" class="inline-flex items-center justify-center 
                    px-4 py-2.5 rounded-md text-sm font-semibold 
                    bg-blue-600 text-white border border-blue-600
                    hover:bg-transparent hover:text-blue-600 transition 
                    whitespace-nowrap">
              Sign Up
            </a>
            {{end}}

          </form>

        </div>

      </div>

    </div>
  </div>
</header>
{{ end }}